#pragma once

@import url(http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900);

.font-exo{
	font-family:"Exo",sans-serif;
}
.font-thin{
	font-weight:100;
}
.font-extra-light{
	font-weight:200;
}
.font-light{
	font-weight:300;
}
.font-normal{
	font-weight:400;
}
.font-medium{
	font-weight:500;
}
.font-semi-bold{
	font-weight:600;
}
.font-bold{
	font-weight:700;
}
.font-extra-bold{
	font-weight:800;
}
.font-ultra-bold{
	font-weight:900;
}
